## Applied ML for baseball:

#### By Thomas Maxence Franco 
Submitted to the Faculty of Science in partial fulfillment of the requirements for the degree of 
#### Master of Modeling for Science and Engineering 
at the 
#### UNIVERSITAT AUTÒNOMA DE BARCELONA 
Directed by 
Tomás Manuel Margalef Burrull
July 2024

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [29]:
file_path = "C:\\Users\\mfran\\OneDrive - UAB\\Masters\\Thesis\\v2\\tables\\finalbatdf.csv"
df = pd.read_csv(file_path)

In [30]:
df

,Name,contract_years,salary,AAV,minor league,catcher,date,new_team,former_team,Age,...,SB_3,BB%_3,K%_3,AVG_3,OBP_3,SLG_3,GDP_3,CS_3,H_3,OPS_3
0,Randal Grichuk,1,2.000000,2.000000,0,0,2024,ARI,LAA,32,...,0.0,0.049541,0.209174,0.240704,0.280734,0.422701,17.0,3.0,123.0,0.703435
1,Joc Pederson,1,12.500000,12.500000,0,0,2024,ARI,SFG,32,...,2.0,0.081081,0.243243,0.237762,0.309771,0.421911,9.0,3.0,102.0,0.731683
2,Kevin Newman,1,0.946237,0.946237,0,0,2024,ARI,CIN,30,...,6.0,0.048736,0.074007,0.226306,0.264599,0.309478,7.0,1.0,117.0,0.574076
3,Tucker Barnhart,2,6.500000,3.250000,0,1,2024,ARI,LAD,33,...,0.0,0.074742,0.257732,0.247126,0.317010,0.367816,8.0,0.0,86.0,0.684826
4,Lourdes Gurriel Jr.,3,42.000000,14.000000,0,0,2024,ARI,ARI,30,...,1.0,0.059150,0.188540,0.276000,0.318519,0.466000,8.0,3.0,138.0,0.784519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Gerardo Parra,1,0.720000,0.720000,1,0,2022,WSN,WSN,35,...,8.0,0.063123,0.196013,0.233577,0.293333,0.390511,7.0,3.0,64.0,0.683844
272,Maikel Franco,1,1.250000,1.250000,0,0,2022,WSN,ATL,29,...,0.0,0.084112,0.142523,0.233933,0.296729,0.408740,14.0,0.0,91.0,0.705469
273,Cesar Hernandez,1,4.000000,4.000000,0,0,2022,WSN,CHW,32,...,9.0,0.067466,0.149925,0.279412,0.332834,0.408497,9.0,2.0,171.0,0.741330
274,Adrian Sanchez,1,0.720000,0.720000,1,0,2022,WSN,WSN,31,...,0.0,0.031250,0.312500,0.225806,0.250000,0.225806,0.0,0.0,7.0,0.475806
275,Jose Iglesias,1,0.720000,0.720000,1,0,2022,BOS,LAA,32,...,6.0,0.037736,0.132075,0.287698,0.317580,0.406746,17.0,6.0,145.0,0.724326

In [45]:
print("DataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 61 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              276 non-null    object
 1   contract_years    276 non-null    int64
 2   salary            276 non-null    float64
 3   AAV               276 non-null    float64
 4   min_league        276 non-null    int64
 5   catcher           276 non-null    int64
 6   date              276 non-null    int64
 7   new_team          276 non-null    object
 8   former_team       276 non-null    object
 9   Age               276 non-null    int64
 10  WAR3              276 non-null    float64
 11  Yrs               276 non-null    int64
 12  career_games      276 non-null    int64
 13  stayed_same_team  276 non-null    int64
 14  G                 276 non-null    int32
 15  PA                276 non-null    int32
 16  HR                276 non-null    int32
 17  R                 276 non-null    int32
 18  RBI               276 non-null    int32
 19  SB                276 non-null    int32
 20  BB%               270 non-null    float64
 21  K%                270 non-null    float64
 22  AVG               270 non-null    float64
 23  OBP               270 non-null    float64
 24  SLG               270 non-null    float64
 25  GDP               276 non-null    int32
 26  CS                276 non-null    int32
 27  H                 276 non-null    int32
 28  OPS               270 non-null    float64
 29  PlayerId          270 non-null    float64
 30  MLBAMID           270 non-null    float64
 31  G_2               276 non-null    int32
 32  PA_2              276 non-null    int32
 33  HR_2              276 non-null    int32
 34  R_2               276 non-null    int32
 35  RBI_2             276 non-null    int32
 36  SB_2              276 non-null    int32
 37  BB%_2             255 non-null    float64
 38  K%_2              255 non-null    float64
 39  AVG_2             255 non-null    float64
 40  OBP_2             255 non-null    float64
 41  SLG_2             255 non-null    float64
 42  GDP_2             276 non-null    int32
 43  CS_2              276 non-null    int32
 44  H_2               276 non-null    int32
 45  OPS_2             255 non-null    float64
 46  G_3               276 non-null    int32
 47  PA_3              276 non-null    int32
 48  HR_3              276 non-null    int32
 49  R_3               276 non-null    int32
 50  RBI_3             276 non-null    int32
 51  SB_3              276 non-null    int32
 52  BB%_3             253 non-null    float64
 53  K%_3              253 non-null    float64
 54  AVG_3             253 non-null    float64
 55  OBP_3             253 non-null    float64
 56  SLG_3             253 non-null    float64
 57  GDP_3             276 non-null    int32
 58  CS_3              276 non-null    int32
 59  H_3               276 non-null    int32
 60  OPS_3             253 non-null    float64
dtypes: float64(23), int32(27), int64(8), object(3)
memory usage: 102.6+ KB

In [42]:
# Specify the subset of columns
columns_to_fill = ['G', 'PA', 'HR', 'R', 'RBI', 'SB', 'GDP', 'CS', 'H',
                   'G_2', 'PA_2', 'HR_2', 'R_2', 'RBI_2', 'SB_2', 'GDP_2', 'CS_2', 'H_2',
                   'G_3', 'PA_3', 'HR_3', 'R_3', 'RBI_3', 'SB_3', 'GDP_3', 'CS_3', 'H_3']

# Calculate the median for the specified columns
median_values = df[columns_to_fill].median()

# Fill missing values with the median for the specified columns
df[columns_to_fill] = df[columns_to_fill].fillna(median_values)

# Check for missing values after filling with the median
missing_values_after_filling = df[columns_to_fill].isnull().sum()

# Display the number of missing values after filling
print("Missing Values After Filling with Median:")
print(missing_values_after_filling)

Missing Values After Filling with Median:
G        0
PA       0
HR       0
R        0
RBI      0
SB       0
GDP      0
CS       0
H        0
G_2      0
PA_2     0
HR_2     0
R_2      0
RBI_2    0
SB_2     0
GDP_2    0
CS_2     0
H_2      0
G_3      0
PA_3     0
HR_3     0
R_3      0
RBI_3    0
SB_3     0
GDP_3    0
CS_3     0
H_3      0
dtype: int64

In [44]:
import numpy as np

# Specify the float variables to be converted to integers
float_to_int_columns = ['G', 'PA', 'HR', 'R', 'RBI', 'SB', 'GDP', 'CS', 'H',
                        'G_2', 'PA_2', 'HR_2', 'R_2', 'RBI_2', 'SB_2', 'GDP_2', 'CS_2', 'H_2',
                        'G_3', 'PA_3', 'HR_3', 'R_3', 'RBI_3', 'SB_3', 'GDP_3', 'CS_3', 'H_3']

# Replace non-finite values with 0
df[float_to_int_columns] = df[float_to_int_columns].fillna(0).astype(int)

# Check the data types after conversion
df.dtypes

Name               object
contract_years      int64
salary            float64
AAV               float64
min_league          int64
                   ...
SLG_3             float64
GDP_3               int32
CS_3                int32
H_3                 int32
OPS_3             float64
Length: 61, dtype: object

In [17]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
       contract_years      salary         AAV  minor league     catcher  \
count       276.00000  276.000000  276.000000    276.000000  276.000000
mean          1.57971   19.683798    5.573760      0.365942    0.159420
std           1.64178   63.356627    8.312717      0.482568    0.366733
min           1.00000    0.250000    0.250000      0.000000    0.000000
25%           1.00000    0.720000    0.720000      0.000000    0.000000
50%           1.00000    1.750000    1.750000      0.000000    0.000000
75%           1.00000    8.625000    7.000000      1.000000    0.000000
max          11.00000  700.000000   70.000000      1.000000    1.000000

              date         Age        WAR3         Yrs  career_games  ...  \
count   276.000000  276.000000  276.000000  276.000000     276.00000  ...
mean   2023.007246   31.855072    2.632971    8.300725     758.90942  ...
std       0.786212    2.944457    3.765822    3.119464     450.46596  ...
min    2022.000000   25.000000   -1.900000    1.000000       1.00000  ...
25%    2022.000000   30.000000    0.000000    7.000000     483.25000  ...
50%    2023.000000   32.000000    1.650000    8.000000     702.50000  ...
75%    2024.000000   34.000000    4.300000   10.000000    1008.75000  ...
max    2024.000000   42.000000   28.400000   21.000000    2971.00000  ...

             SB_3       BB%_3        K%_3       AVG_3       OBP_3       SLG_3  \
count  253.000000  253.000000  253.000000  253.000000  253.000000  253.000000
mean     4.932806    0.088630    0.234636    0.244943    0.318376    0.416291
std      6.885647    0.036875    0.084373    0.047600    0.050479    0.102373
min      0.000000    0.000000    0.074007    0.000000    0.000000    0.000000
25%      0.000000    0.060484    0.188540    0.224696    0.296578    0.367816
50%      2.000000    0.085766    0.227181    0.250000    0.322068    0.419048
75%      6.000000    0.112360    0.272000    0.276000    0.343195    0.468410
max     40.000000    0.232000    1.000000    0.350000    0.421053    0.714286

            GDP_3        CS_3         H_3       OPS_3
count  253.000000  253.000000  253.000000  253.000000
mean     7.035573    1.841897   89.162055    0.734667
std      5.258659    2.214379   50.469319    0.144797
min      0.000000    0.000000    0.000000    0.000000
25%      3.000000    0.000000   52.000000    0.669726
50%      6.000000    1.000000   89.000000    0.740234
75%     11.000000    3.000000  128.000000    0.815463
max     24.000000   10.000000  190.000000    1.114286

[8 rows x 58 columns]

In [32]:
df = df.rename(columns={'minor league': 'min_league'})
df.head()

,Name,contract_years,salary,AAV,min_league,catcher,date,new_team,former_team,Age,...,SB_3,BB%_3,K%_3,AVG_3,OBP_3,SLG_3,GDP_3,CS_3,H_3,OPS_3
0,Randal Grichuk,1,2.000000,2.000000,0,0,2024,ARI,LAA,32,...,0.0,0.049541,0.209174,0.240704,0.280734,0.422701,17.0,3.0,123.0,0.703435
1,Joc Pederson,1,12.500000,12.500000,0,0,2024,ARI,SFG,32,...,2.0,0.081081,0.243243,0.237762,0.309771,0.421911,9.0,3.0,102.0,0.731683
2,Kevin Newman,1,0.946237,0.946237,0,0,2024,ARI,CIN,30,...,6.0,0.048736,0.074007,0.226306,0.264599,0.309478,7.0,1.0,117.0,0.574076
3,Tucker Barnhart,2,6.500000,3.250000,0,1,2024,ARI,LAD,33,...,0.0,0.074742,0.257732,0.247126,0.317010,0.367816,8.0,0.0,86.0,0.684826
4,Lourdes Gurriel Jr.,3,42.000000,14.000000,0,0,2024,ARI,ARI,30,...,1.0,0.059150,0.188540,0.276000,0.318519,0.466000,8.0,3.0,138.0,0.784519

### Interest Rates

In [33]:

df.loc[df['date'] == 2024, 'salary'] *= 0.994
df.loc[df['date'] == 2023, 'salary'] *= 1.103
df.loc[df['date'] == 2022, 'salary'] *= 1.1408
df.head()

,Name,contract_years,salary,AAV,min_league,catcher,date,new_team,former_team,Age,...,SB_3,BB%_3,K%_3,AVG_3,OBP_3,SLG_3,GDP_3,CS_3,H_3,OPS_3
0,Randal Grichuk,1,1.98800,2.000000,0,0,2024,ARI,LAA,32,...,0.0,0.049541,0.209174,0.240704,0.280734,0.422701,17.0,3.0,123.0,0.703435
1,Joc Pederson,1,12.42500,12.500000,0,0,2024,ARI,SFG,32,...,2.0,0.081081,0.243243,0.237762,0.309771,0.421911,9.0,3.0,102.0,0.731683
2,Kevin Newman,1,0.94056,0.946237,0,0,2024,ARI,CIN,30,...,6.0,0.048736,0.074007,0.226306,0.264599,0.309478,7.0,1.0,117.0,0.574076
3,Tucker Barnhart,2,6.46100,3.250000,0,1,2024,ARI,LAD,33,...,0.0,0.074742,0.257732,0.247126,0.317010,0.367816,8.0,0.0,86.0,0.684826
4,Lourdes Gurriel Jr.,3,41.74800,14.000000,0,0,2024,ARI,ARI,30,...,1.0,0.059150,0.188540,0.276000,0.318519,0.466000,8.0,3.0,138.0,0.784519

In [34]:

df.loc[df['date'] == 2024, 'AAV'] *= 0.994
df.loc[df['date'] == 2023, 'AAV'] *= 1.103
df.loc[df['date'] == 2022, 'AAV'] *= 1.1408
df.head()

,Name,contract_years,salary,AAV,min_league,catcher,date,new_team,former_team,Age,...,SB_3,BB%_3,K%_3,AVG_3,OBP_3,SLG_3,GDP_3,CS_3,H_3,OPS_3
0,Randal Grichuk,1,1.98800,1.98800,0,0,2024,ARI,LAA,32,...,0.0,0.049541,0.209174,0.240704,0.280734,0.422701,17.0,3.0,123.0,0.703435
1,Joc Pederson,1,12.42500,12.42500,0,0,2024,ARI,SFG,32,...,2.0,0.081081,0.243243,0.237762,0.309771,0.421911,9.0,3.0,102.0,0.731683
2,Kevin Newman,1,0.94056,0.94056,0,0,2024,ARI,CIN,30,...,6.0,0.048736,0.074007,0.226306,0.264599,0.309478,7.0,1.0,117.0,0.574076
3,Tucker Barnhart,2,6.46100,3.23050,0,1,2024,ARI,LAD,33,...,0.0,0.074742,0.257732,0.247126,0.317010,0.367816,8.0,0.0,86.0,0.684826
4,Lourdes Gurriel Jr.,3,41.74800,13.91600,0,0,2024,ARI,ARI,30,...,1.0,0.059150,0.188540,0.276000,0.318519,0.466000,8.0,3.0,138.0,0.784519

In [37]:
# Select float columns
float_columns = df.select_dtypes(include=['float64'])

# Count null values in float columns
null_counts = float_columns.isnull().sum()

# Display null value counts
print("Null Value Counts for Float Variables:")
print(null_counts)

Null Value Counts for Float Variables:
salary       0
AAV          0
WAR3         0
G            6
PA           6
HR           6
R            6
RBI          6
SB           6
BB%          6
K%           6
AVG          6
OBP          6
SLG          6
GDP          6
CS           6
H            6
OPS          6
PlayerId     6
MLBAMID      6
G_2         21
PA_2        21
HR_2        21
R_2         21
RBI_2       21
SB_2        21
BB%_2       21
K%_2        21
AVG_2       21
OBP_2       21
SLG_2       21
GDP_2       21
CS_2        21
H_2         21
OPS_2       21
G_3         23
PA_3        23
HR_3        23
R_3         23
RBI_3       23
SB_3        23
BB%_3       23
K%_3        23
AVG_3       23
OBP_3       23
SLG_3       23
GDP_3       23
CS_3        23
H_3         23
OPS_3       23
dtype: int64

In [36]:
missing_values

Name               0
contract_years     0
salary             0
AAV                0
min_league         0
                  ..
SLG_3             23
GDP_3             23
CS_3              23
H_3               23
OPS_3             23
Length: 61, dtype: int64